<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PickNDO</title>
    <link rel="stylesheet" href="/css/flat.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
<div ng-app="PickNDO"
<div class="container">
  <div class="content"ng-controller="PickNDo">
    <h1>PickNDo</h1>
    <p class="tagline">
      Created with angularjs
    </p>
    <form>
      <div class="inputContainer">
        <input type="text" id="description" class="taskName" placeholder="What would you like to do>"
        ng-model="newTask">
        <label for="description"</label>
        </div>
        <div class="inputContainer half last">
          <i class="fa fa-caret-down selectArrow"></i>
          <select id="category" class="taskCategory" ng-model="newTaskCategory"
          ng-opitons="obj.name for obj in categories">
          <option class="disabled" value="">Choose a category</option>
          </select
        </div>
          <label for="category">Category</label>
          <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" ng-model="newTaskDate">
                    <label for="dueDate">Due Date</label>
                </div>
                <div class="row">
                    <button class="taskAdd btn btn-primary" ng-click="addNew()"><i class="fa fa-plus icon"></i>Add task</button>
                    <button class="taskDelete btn btn-danger" ng-click="deleteTask()"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
                </div>
            </form>
            <ul class="taskList">
              <li class="taskItem" ng-repeat="taskItem" in taskItem track by $index"
              ng-model="taskItem"><input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save()">
              <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span>
              <span class="category-{{taskItem.category}}">{{task.catagory}}</span>
              <strong class="category-{{taskItem.complete}}"><i class="fa fa-calendar"></i>{{taskItem.date | date : 'mediumDate'}}</strong>
            </li>
          </ul>
        </div>
      </div>

      <footer>
        <p>ReBuilt by <a href="https://github.com/thenriquez">Terrence Henriquez</a></p>
    </footer>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>

    <script src="js/index.js"></script>

          



  </body>
</html>
